<form [ngStyle]="{'text-align': 'styles.text-align' | translate }" [formGroup]="form" class="mt-3 hidden-sm-up"  (ngSubmit)="submit()" novalidate>
        <div   class="form-group col-lg-6">
            <label class="form-control-label" for="from">{{'search.from'|translate}}</label>
            <input
                formControlName="from"
                [ngClass]="{'is-invalid':(submitted || form.controls.to.touched)&& (!form.controls.from.value ||  dateError) }"  
                [bsConfig]="{ containerClass:'theme-default'}"
                id="from"
                placeholder="{{'search.from'|translate}} ..."
                class="form-control"
                bsDatepicker
                required>
                <div class="invalid-feedback">
                    <span *ngIf="form.get('from').errors?.required">
                            {{ 'common.required'|translate}}
                    </span>
                    <span *ngIf="form.controls.from.value && dateError">
                           {{'search.start-validation'|translate}}
                    </span>
                </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="form-control-label" for="to">{{'search.to'|translate}}</label>
            <input  
                formControlName="to"
                [ngClass]="{'is-invalid': (submitted|| form.controls.to.touched) && (!form.controls.to.value ||  dateError) }"  
                [bsConfig]="{ containerClass:'theme-default'}"
                id="to"
                placeholder="{{'search.to'|translate}} ..."
                class="form-control"
                bsDatepicker
                required>
                <div class="invalid-feedback">
                    <span *ngIf="form.get('to').errors?.required">
                        {{ 'common.required'|translate}}
                    </span>
                    <span *ngIf="form.controls.to.value && dateError" >
                        {{'search.end-validation'|translate}}
                    </span>
                </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-dark">{{'search.title'|translate}}</button>
        </div>
</form>