<!-- Search Part  -->
<div class="input-group">
  <label for="search" class="input-group-addon">
    <i class="oi oi-magnifying-glass"></i>
  </label>
  <input 
    id="search"
    name="search"
    [(ngModel)]="hotelName"
    class="form-control" 
    placeholder="Hotel Name ..." 
  >
</div>
<!-- Price Filter -->
<div class="form-group mt-4">
  <label for="slider">Price Filter: {{price}}</label>
  <input [(ngModel)]="price" 
    type="range"
    [min]="priceFilter.min"
    max="priceFilter.max"
    class="form-control"
    id="slider"
    placeholder="price...">
</div>