<div class="card-columns mt-4">
  <tj-hotel-item class="card">
  </tj-hotel-item>
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  <tj-hotel-item class="card">
  </tj-hotel-item>
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
  
  <tj-hotel-item class="card">
  </tj-hotel-item>
</div>
<tj-no-content></tj-no-content>