<div class="d-flex justify-content-between flex-wrap">
  <tj-hotel-item>
  </tj-hotel-item>
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  <tj-hotel-item>
  </tj-hotel-item>
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
  
  <tj-hotel-item>
  </tj-hotel-item>
</div>