/* overrides */
$icon-font-path : '/assets/fonts/';
$icon-font-name : 'Icons';
// Typography
// $font-family-base : 'Icons';
.input-group-addon{
    height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      margin-bottom:0px; 
  }
  //remove slider borders
  .form-group [type='range']{
    border: 0px ;
  }

  //overrive and remove any outlines
  *:focus {
        outline: 0;
        box-shadow: none !important;
    }




/* You can add global styles to this file, and also import other style files */
/* Vendors */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/* Bootstrap Mixins */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";



